<a href="https://colab.research.google.com/github/Beard31/Deep-Dive-Data-Science-Projects/blob/main/SQL_1_Chinook_project_Beard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project SQL - Chinook

## Chinook data set

See the lecture on SQLite3 using the Chinook data set to set up the software, database, and tables, as well as for the links to ancillary information about the data set.

In [ ]:
# Install the sqlite package for Ubuntu
# Download the Chinook sqlite database
import sqlite3 as db
import pandas as pd

In [ ]:
%%capture
%%bash
apt-get update
apt-get install -y sqlite3

In [ ]:
%%bash
[ -f chinook.zip ] ||
  curl -s -O https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
unzip -l chinook.zip

Archive:  chinook.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
   884736  2015-11-29 10:53   chinook.db
---------                     -------
   884736                     1 file

In [ ]:
!rm -f chinook.db

In [ ]:
!unzip -u chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [ ]:
!ls -la

total 1180
drwxr-xr-x 1 root root   4096 Feb 24 06:31 .
drwxr-xr-x 1 root root   4096 Feb 24 06:30 ..
-rw-r--r-- 1 root root 884736 Nov 29  2015 chinook.db
-rw-r--r-- 1 root root 305596 Feb 24 06:31 chinook.zip
drwxr-xr-x 4 root root   4096 Feb 20 14:24 .config
drwxr-xr-x 1 root root   4096 Feb 20 14:24 sample_data

## Come up with questions about your data
Have a look at the Entity-Relation ( ER ) diagram to help come up with questions.

* What sort of information is in this dataset?
* How many records are there?
* How many different countries (states, counties, cities, etc) have records in this data set?


If you are stuck, here are some ideas for questions:
- https://github.com/LucasMcL/15-sql_queries_02-chinook/blob/master/README.md
- [Using the R language]( https://rpubs.com/enext777/636199 )
- [Search Google]( https://www.google.com/search?q=chinook+database+questions )

In [ ]:
# Connect to a sqlite database and load a result set into a data frame
db_con = db.connect("chinook.db")

In [ ]:
# Select the first 10 entries from the employees table
query = '''
  select *
  from employees
  limit 10
'''

employees = pd.read_sql_query( query , db_con)
employees

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [ ]:
 employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeId  8 non-null      int64
 1   LastName    8 non-null      object
 2   FirstName   8 non-null      object
 3   Title       8 non-null      object
 4   ReportsTo   7 non-null      float64
 5   BirthDate   8 non-null      object
 6   HireDate    8 non-null      object
 7   Address     8 non-null      object
 8   City        8 non-null      object
 9   State       8 non-null      object
 10  Country     8 non-null      object
 11  PostalCode  8 non-null      object
 12  Phone       8 non-null      object
 13  Fax         8 non-null      object
 14  Email       8 non-null      object
dtypes: float64(1), int64(1), object(13)
memory usage: 1.1+ KB

In [ ]:
employees.shape

(8, 15)

In [ ]:
employees.describe()

       EmployeeId  ReportsTo
count     8.00000   7.000000
mean      4.50000   2.857143
std       2.44949   2.193063
min       1.00000   1.000000
25%       2.75000   1.500000
50%       4.50000   2.000000
75%       6.25000   4.000000
max       8.00000   6.000000

- What sort of information is in this dataset?
- How many records are there?
- How many different countries (states, counties, cities, etc) have records in this data set?

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT COUNT(*) as TotalEmployees
FROM Employees;

TotalEmployees
--------------
8

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT FirstName
FROM Employees;

FirstName
---------
Andrew
Nancy
Jane
Margaret
Steve
Michael
Robert
Laura

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT LastName
FROM Employees;

LastName
--------
Adams
Edwards
Peacock
Park
Johnson
Mitchell
King
Callahan

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT COUNT(DISTINCT Country) as TotalCountries
FROM employees;

TotalCountries
--------------
1

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT Country
FROM employees;

Country
-------
Canada

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT COUNT(DISTINCT City) as TotalCities
FROM employees;

TotalCities
-----------
3

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT City
FROM employees;

City
----------
Edmonton
Calgary
Lethbridge

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT COUNT(DISTINCT State) as TotalStates
FROM employees;

TotalStates
-----------
1

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT State
FROM employees;

State
-----
AB

## Use SQL queries to pull specific information

Do NOT pull all the data and then filter using DataFrame methods etc. Make sure and use AT LEAST 13 of the 15 SQL options listed below. (You may have to get creative and come up with more questions to ask/answer.)

### Basic Queries

#### SELECT (with * and with column names)

In [ ]:
# Select the first 10 entries from the employees table
%%script sqlite3 --column --header chinook.db
select *
from employees
limit 10

EmployeeId  LastName  FirstName  Title                ReportsTo  BirthDate            HireDate             Address                      City        State  Country  PostalCode  Phone              Fax                Email
----------  --------  ---------  -------------------  ---------  -------------------  -------------------  ---------------------------  ----------  -----  -------  ----------  -----------------  -----------------  ------------------------
1           Adams     Andrew     General Manager                 1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW          Edmonton    AB     Canada   T5K 2N1     +1 (780) 428-9482  +1 (780) 428-3457  andrew@chinookcorp.com
2           Edwards   Nancy      Sales Manager        1          1958-12-08 00:00:00  2002-05-01 00:00:00  825 8 Ave SW                 Calgary     AB     Canada   T2P 2T3     +1 (403) 262-3443  +1 (403) 262-3322  nancy@chinookcorp.com
3           Peacock   Jane       Sales Support Agent  2          1973-08-29 00:00:00  2002-04-01 00:00:00  1111 6 Ave SW                Calgary     AB     Canada   T2P 5M5     +1 (403) 262-3443  +1 (403) 262-6712  jane@chinookcorp.com
4           Park      Margaret   Sales Support Agent  2          1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW             Calgary     AB     Canada   T2P 5G3     +1 (403) 263-4423  +1 (403) 263-4289  margaret@chinookcorp.com
5           Johnson   Steve      Sales Support Agent  2          1965-03-03 00:00:00  2003-10-17 00:00:00  7727B 41 Ave                 Calgary     AB     Canada   T3B 1Y7     1 (780) 836-9987   1 (780) 836-9543   steve@chinookcorp.com
6           Mitchell  Michael    IT Manager           1          1973-07-01 00:00:00  2003-10-17 00:00:00  5827 Bowness Road NW         Calgary     AB     Canada   T3B 0C5     +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
7           King      Robert     IT Staff             6          1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge  AB     Canada   T1K 5N8     +1 (403) 456-9986  +1 (403) 456-8485  robert@chinookcorp.com
8           Callahan  Laura      IT Staff             6          1968-01-09 00:00:00  2004-03-04 00:00:00  923 7 ST NW                  Lethbridge  AB     Canada   T1H 1Y8     +1 (403) 467-3351  +1 (403) 467-8772  laura@chinookcorp.com

In [ ]:
%%script sqlite3 --column --header chinook.db
select employeeid, lastname, firstname, title
from employees
limit 10

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
1           Adams     Andrew     General Manager
2           Edwards   Nancy      Sales Manager
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent
6           Mitchell  Michael    IT Manager
7           King      Robert     IT Staff
8           Callahan  Laura      IT Staff

#### WHERE

In [ ]:
%%script sqlite3 --column --header chinook.db
select employeeid, lastname, firstname, title
from employees
where title = 'Sales Support Agent'

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent

#### AND

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT employeeid, lastname, firstname, title
FROM employees
WHERE title = 'Sales Support Agent'
AND city = 'Calgary'

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent

#### OR

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT employeeid, lastname, firstname, title
FROM employees
WHERE title = 'Sales Support Agent'
OR city = 'Calgary'

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
2           Edwards   Nancy      Sales Manager
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent
6           Mitchell  Michael    IT Manager

#### LIKE (with % or _ wildcard)

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT employeeid, lastname, firstname, title
FROM employees
WHERE title LIKE 'Sales%'

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
2           Edwards   Nancy      Sales Manager
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent

#### BETWEEN

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT employeeid, lastname, firstname, title
FROM employees
WHERE employeeid BETWEEN 3 AND 5

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent
5           Johnson   Steve      Sales Support Agent

#### LIMIT

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT employeeid, lastname, firstname, title
FROM employees
WHERE employeeid BETWEEN 3 AND 5
LIMIT 2

EmployeeId  LastName  FirstName  Title
----------  --------  ---------  -------------------
3           Peacock   Jane       Sales Support Agent
4           Park      Margaret   Sales Support Agent

### Sorting and Grouping

#### ORDER BY

In [ ]:
# ORDER BY employe id
%%script sqlite3 --column --header chinook.db
SELECT *
FROM employees
ORDER BY employeeid;

EmployeeId  LastName  FirstName  Title                ReportsTo  BirthDate            HireDate             Address                      City        State  Country  PostalCode  Phone              Fax                Email
----------  --------  ---------  -------------------  ---------  -------------------  -------------------  ---------------------------  ----------  -----  -------  ----------  -----------------  -----------------  ------------------------
1           Adams     Andrew     General Manager                 1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW          Edmonton    AB     Canada   T5K 2N1     +1 (780) 428-9482  +1 (780) 428-3457  andrew@chinookcorp.com
2           Edwards   Nancy      Sales Manager        1          1958-12-08 00:00:00  2002-05-01 00:00:00  825 8 Ave SW                 Calgary     AB     Canada   T2P 2T3     +1 (403) 262-3443  +1 (403) 262-3322  nancy@chinookcorp.com
3           Peacock   Jane       Sales Support Agent  2          1973-08-29 00:00:00  2002-04-01 00:00:00  1111 6 Ave SW                Calgary     AB     Canada   T2P 5M5     +1 (403) 262-3443  +1 (403) 262-6712  jane@chinookcorp.com
4           Park      Margaret   Sales Support Agent  2          1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW             Calgary     AB     Canada   T2P 5G3     +1 (403) 263-4423  +1 (403) 263-4289  margaret@chinookcorp.com
5           Johnson   Steve      Sales Support Agent  2          1965-03-03 00:00:00  2003-10-17 00:00:00  7727B 41 Ave                 Calgary     AB     Canada   T3B 1Y7     1 (780) 836-9987   1 (780) 836-9543   steve@chinookcorp.com
6           Mitchell  Michael    IT Manager           1          1973-07-01 00:00:00  2003-10-17 00:00:00  5827 Bowness Road NW         Calgary     AB     Canada   T3B 0C5     +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
7           King      Robert     IT Staff             6          1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge  AB     Canada   T1K 5N8     +1 (403) 456-9986  +1 (403) 456-8485  robert@chinookcorp.com
8           Callahan  Laura      IT Staff             6          1968-01-09 00:00:00  2004-03-04 00:00:00  923 7 ST NW                  Lethbridge  AB     Canada   T1H 1Y8     +1 (403) 467-3351  +1 (403) 467-8772  laura@chinookcorp.com

#### DISTINCT

In [ ]:
# DISTINCT on ReportssTo
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT ReportsTo
FROM employees;

ReportsTo
---------

1
2
6

#### GROUP BY

In [ ]:
# GROUP BY ReportsTo

%%script sqlite3 --column --header chinook.db
SELECT ReportsTo, COUNT(*) AS EmployeeCount
FROM employees
GROUP BY ReportsTo;

ReportsTo  EmployeeCount
---------  -------------
           1
1          2
2          3
6          2

### Aggregates

#### MAX

In [ ]:
# MAX on HireDate
%%script sqlite3 --column --header chinook.db
SELECT MAX(HireDate) FROM employees;

MAX(HireDate)
-------------------
2004-03-04 00:00:00

#### MIN

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT MIN(HireDate) FROM employees;

MIN(HireDate)
-------------------
2002-04-01 00:00:00

#### SUM

In [ ]:
# SUM on EmployeeId
%%script sqlite3 --column --header chinook.db
SELECT SUM(EmployeeId) FROM employees;

SUM(EmployeeId)
---------------
36

#### AVG

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT AVG(BirthDate) FROM employees;

AVG(BirthDate)
--------------
1964.5

#### COUNT

In [ ]:
# COUNT on EmployeeID
%%script sqlite3 --column --header chinook.db
SELECT COUNT(EmployeeId)
FROM employees;

COUNT(EmployeeId)
-----------------
8

## Make some plots

Make some cool plots to go with your data. Write SQL queries to get ONLY the information you need for each plot. (Don't pull ALL the data and then just plot a few columns.)

## EXTRA CREDIT:
* Use a CTE
* Use a query that joins two or more tables.
* Make a model to see if you can predict something
* Come up with something else cool to do with your data